<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>স্বপ্নযাত্রা ফাউন্ডেশন</title>

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="AdminLTE/plugins/fontawesome-free/css/all.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- Tempusdominus Bootstrap 4 -->
	<link rel="stylesheet" href="~/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
	<!-- iCheck -->
	<link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
	<!-- JQVMap -->
	<link rel="stylesheet" href="~/AdminLTE/plugins/jqvmap/jqvmap.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
	<!-- overlayScrollbars -->
	<link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
	<!-- Daterange picker -->
	<link rel="stylesheet" href="AdminLTE/plugins/daterangepicker/daterangepicker.css">
	<!-- summernote -->
	<link rel="stylesheet" href="~/AdminLTE/plugins/summernote/summernote-bs4.min.css">
</head>
<body class="hold-transition  layout-fixed">
	<div class="wrapper">

		<!-- Preloader -->
		<div class="preloader  justify-content-center align-items-center">
			<img class="animation__shake" src="~/AdminLTE/dist/img/AdminLTELogo.png" alt="স্বপ্নযাত্রা ফাউন্ডেশন" height="60" width="60">
		</div>

		@*<section class="et-hero-tabs">
			<div class="et-hero-tabs-container">
				<div class="et-hero-tab-disabled"></div>
				<a class="et-hero-tab" href="#sectionOne">Home</a>
				<a class="et-hero-tab text-nowrap" href="#sectionTwo">Message Us</a>
				<a class="et-hero-tab" href="#sectionThree">About</a>
				<span class="et-hero-tab-slider"></span>
			</div>
		</section>*@
		<!-- Navbar -->
	<nav class= navbar navbar-expand navbar-white navbar-light">
		<a href="index3.html" class="brand-link">
			<img src="~/AdminLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
			<span class="brand-text font-weight-light">স্বপ্নযাত্রা ফাউন্ডেশন</span>
		</a>

		@*Right navbar links*@
		<ul class="navbar-nav ml-auto">
			@*Navbar Search*@
			<li class="nav-item">
				<section class="et-hero-tabs">
					<div class="et-hero-tabs-container">
						<div class="et-hero-tab-disabled"></div>
						<a class="et-hero-tab" style="margin-right:10px" href="#sectionOne">Home</a>
						<a class="et-hero-tab text-nowrap"  style="margin-right:10px" href="#sectionTwo">Message Us</a>
						<a class="et-hero-tab"  style="margin-right:10px" href="#sectionThree">About</a>
						<span class="et-hero-tab-slider"></span>
					</div>
				</section>
			</li>
		</ul>


	</nav>

		<!-- /.navbar -->
		<!-- Main Sidebar Container -->
		@*<aside class="main-sidebar sidebar-dark-primary elevation-4">

			<a href="index3.html" class="brand-link">
				<img src="~/AdminLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
				<span class="brand-text font-weight-light">স্বপ্নযাত্রা ফাউন্ডেশন</span>
			</a>



		</aside>*@

		<!-- Content Wrapper. Contains page content -->
		<div class="" style="width:100%">
			<!-- Content Header (Page header) -->
			<!-- /.content-header -->
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					@RenderBody()
				</div><!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
			All rights reserved.
			<div class="float-right d-none d-sm-inline-block">
				<b>Version</b> 3.2.0
			</div>
		</footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->
	<!-- jQuery -->
	<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="~/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
		$.widget.bridge('uibutton', $.ui.button)
	</script>
	<!-- Bootstrap 4 -->
	<script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- ChartJS -->
	<script src="~/AdminLTE/plugins/chart.js/Chart.min.js"></script>
	<!-- Sparkline -->
	<script src="~/AdminLTE/plugins/sparklines/sparkline.js"></script>
	<!-- JQVMap -->
	<script src="~/AdminLTE/plugins/jqvmap/jquery.vmap.min.js"></script>
	<script src="~/AdminLTE/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
	<!-- jQuery Knob Chart -->
	<script src="~/AdminLTE/plugins/jquery-knob/jquery.knob.min.js"></script>
	<!-- daterangepicker -->
	<script src="~/AdminLTE/plugins/moment/moment.min.js"></script>
	<script src="~/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script src="~/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
	<!-- Summernote -->
	<script src="~/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
	<!-- overlayScrollbars -->
	<script src="~/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/AdminLTE/dist/js/adminlte.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="~/AdminLTE/dist/js/demo.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="~/AdminLTE/dist/js/pages/dashboard.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>


@*Himus Section*@

<!--<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Shawpnojatra_Foundation</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link href="~/lib/OwlCarousel/dist/assets/owl.carousel.css" rel="stylesheet" />
	<link href="~/lib/OwlCarousel/dist/assets/owl.theme.default.css" rel="stylesheet" />
</head>
<body>

	<section class="et-hero-tabs">
		<div class="et-hero-tabs-container">
			<div class="et-hero-tab-disabled"></div>
			<a class="et-hero-tab" href="#sectionOne">Home</a>
			<a class="et-hero-tab text-nowrap" href="#sectionTwo">Message Us</a>
			<a class="et-hero-tab" href="#sectionThree">About</a>
			<span class="et-hero-tab-slider"></span>
		</div>
	</section>


	<main role="main" class="et-main">
		@RenderBody()
	</main>-->
@*<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - Shawpnojatra_Foundation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>*@
<!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/OwlCarousel/dist/owl.carousel.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>-->
@*Himus Section*@